
<!-- 
this is the shared header -->

<header>
 
 

<h1><%= link_to 'FoundSound', root_path %></h1>

 
        <nav>
  

         
          <li><%= link_to 'Find Music', root_path %></li>

        <li><%= link_to 'Playlist', users_path %></li>
        
        <li><%= link_to( 'Sign out', logout_path, method: :delete) %></li></br>
             
        
       
      

        
  
        
                    
      </nav>
    </header>


    <hr color="white" WIDTH="80%">


  

<header>

    <h3><%= link_to 'App', root_path %></h3>
        <nav>
            
           <li><%= link_to 'playlist', playlist_path %></li>

                <li><%= link_to 'colabs', colabs_path %></li>        
            
        </nav>

            
</header>

<div class="bg"></div>

